.card_admission{
    margin: auto;
    padding: 20px;
    width: 100%;
    font-size: 26px;
    position: relative; 
}

.card_text_but{
    width: 50%;

}

.card_admission_img{
    margin-left: 10%;
    width: 80%;
    border-radius: 5px;
    object-fit: cover; 
}

.card_admission_text{
    margin: 10px;
    top:0;
    position: absolute;
}


.card_admission_text_1{
    position: absolute; 
    top: 40px; /* Adjust the top position */
    left: 40px; /* Adjust the left position */
    margin: 10px;
}

.card_admission_text_2{
    position: absolute; 
    top: 80px; /* Adjust the top position */
    left: 40px; /* Adjust the left position */
    margin: 10px;
}


.cart_big_text{
    font-size: 56px;
}

.card_admission_button{
    position: absolute; 
    top: 50%;
    left: 15%; 
    /* width: 35%; */
    height: 20%;
    background-color: rgba(19, 45, 85, 1);
    border-radius: 5px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.card_admission_button:hover{
    background-color: orange;
    cursor: pointer;
    color: black;
}