.program{
    margin:7.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    /* font-size: 18px; */
}

.program p{
    font-size: 20;
    margin-top: 0px;
    margin-bottom: 40px;
}


.program button{
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 3px;
}


.program h3{
    font-size: 32px;
    font: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}

